$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-info-width: 40px;
$cell-width: 100px;
$row-height: 24px;
$dashboard-header-height: 64px;

$main-color: #888;
$input-focus-color: #1a73e8;
$border-color: #c0c0c0;
