.excel__header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 8px 4px 0;

  & .input {
    margin: 0;
    padding: 2px 7px;
    min-width: 1px;
    height: 20px;
    font-size: 18px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    line-height: 22px;

    &:hover {
      border: 1px solid $input-hover-color;
    }

    &:focus {
      border: 2px solid $input-focus-color;
    }
  }

  .btn {
    @include btn(red);
  }
}
